    .post {
        position: relative;
        width: 90%;
        height: 20%;
        background: #fff;
        box-shadow: 0 4px 10px 0 rgba(17, 4, 63, 0.2), 0 4px 20px 0 rgba(79, 19, 97, 0.19);
        margin: 10px 10px 10px 20px;
        float: left;
        border-radius: 15px;
        /* flex: 2 50%; */
    }
    
    .post-left {
        width: 15%;
        max-width: 15%;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        font-weight: bold;
        color: #000;
    }
    
    .post-content {
        width: 75%;
        display: table-cell;
        text-align: left;
        background-color: #E8E8E8;
        color: #000000;
        border-radius: 0 15px 15px 0;
        padding: 0 20px;
    }
    
    .post-title {
        font-family: 'Itim', cursive;
        font-weight: bold;
        color: #2b312b;
        font-size: 25px;
        height: 25px;
    }
    
    .post-more {
        float: right;
        cursor: pointer;
        font-size: 18px;
        margin-right: 0 !important;
        padding-right: 0 !important;
        padding-bottom: 10px;
        font-size: 30px;
    }
    
    .post-desc {
        height: 100px;
        margin-bottom: 0 !important;
    }
    
    body {
        height: 100%;
        width: 100%;
        position: relative;
        margin: 0 !important;
        color: #fff;
        background-color: orange;
        background-size: 2000% 2000%;
    }
    
    .allPostsContainer {
        height: 100%;
        width: 100%;
    }
    
    @media only screen and (max-width:35.5em) {
        .allPostsContainer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
    
    .modal,
    .modal1 {
        display: block;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/ opacity */
        -webkit-animation-name: fadeIn;
        /* Fade in the background */
        -webkit-animation-duration: 0.4s;
        animation-name: fadeIn;
        animation-duration: 0.4s
    }
    /* Modal Content */
    
    .modal-content,
    .modal-content1 {
        position: fixed;
        bottom: 0;
        background-color: #fefefe;
        width: 30%;
        height: 55%;
        -webkit-animation-name: slideIn;
        -webkit-animation-duration: 0.4s;
        animation-name: slideIn;
        animation-duration: 0.4s;
        margin-left: 500px;
        margin-bottom: 300px;
    }
    /* The Close Button */
    
    .close,
    .close1 {
        color: white;
        float: right;
        font-size: 30px;
        font-weight: bold;
        padding: 10px;
    }
    
    .close:hover,
    .close:focus,
    .close1:hover,
    .close1:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
    
    .modal-body,
    .modal-body1 {
        padding: 12px 16px;
        line-height: 25px;
    }
    /* Add Animation */
    
    @-webkit-keyframes slideIn {
        from {
            bottom: -300px;
            opacity: 0
        }
        to {
            bottom: 0;
            opacity: 1
        }
    }
    
    @keyframes slideIn {
        from {
            bottom: -300px;
            opacity: 0
        }
        to {
            bottom: 0;
            opacity: 1
        }
    }
    
    @-webkit-keyframes fadeIn {
        from {
            opacity: 0
        }
        to {
            opacity: 1
        }
    }
    
    @keyframes fadeIn {
        from {
            opacity: 0
        }
        to {
            opacity: 1
        }
    }
    
    form {
        display: block;
        width: 100%;
    }
    
    hr {
        width: 90%;
    }
    
    h2 {
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: 600;
        color: black;
    }
    
    .sign-button {
        background-color: #009900;
        width: 100%;
        color: white;
        padding: 5px;
    }
    
    input {
        width: 95%;
        background-color: whitesmoke;
        padding: 5px;
        margin: 2px;
    }
    
    label {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: 800;
    }
    
    form a {
        float: inherit;
        color: blue;
    }
    
    .member {
        font-weight: bold;
        margin: 95px;
        font-size: 16px;
    }
    
    label {
        color: black;
    }
    
    i {
        margin: 3px;
        float: right;
        font-size: 16px;
    }
    
    span {
        color: black;
    }