/* Set a style for all elements inside the header i.e. Sign Up button, Sign In button, 
the title "ScriBBler" & the sub-heading below "ScriBBLer" */

#fonts {
    background-color: blue;
    color: white;
    float: right;
    padding: 5px;
    margin: 5px;
}

#subfont {
    background-color: blue;
    color: white;
    float: right;
    padding: 5px;
    margin: 5px;
}

.heading {
    color: blue;
    font-family: 'Tangerine', cursive;
    font-size: 40px;
    font-weight: bold;
    line-height: 0%;
}

.heading-sub {
    color: blue;
    font-family: 'Tangerine', cursive;
    font-size: 20px;
    line-height: 0%;
    font-weight: inherit;
}